%h2 gmap
#map

:css
  #map {
    height: 600px;
    width: 600px;
  }

:javascript
  let map

  function initMap(){
  // The location of Uluru
  const position = { lat: -25.344, lng: 131.031 };

  const map = new google.maps.Map(document.getElementById("map"),  {
    zoom: 4,
    center: position,
    mapId: "DEMO_MAP_ID", // Map ID is required for advanced markers.
  });

    // The advanced marker, positioned at Uluru
    const marker = new google.maps.marker.AdvancedMarkerElement({
        map,
        position: position,
        title: 'Uluru',
    });
  }

  // 今座標のあるlat lngを取得する関数

%script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_KEY']}&callback=initMap", async: "", defer: ""}
